<div class="pull-left day-event day-highlight" style="text-align:center" ng-show="vm.columns != undefined" ng-style="{ top: '-30px', height: '30px', width: '70px', left: '-2px' }">
  <span>
    <i class="glyphicon glyphicon-time pull-left" style="margin-left: 20px;margin-top: 5px;"></i>
  </span>
</div>
<div class="pull-left day-event day-highlight" style="text-align:center" ng-style="{ top: '-30px', height: '30px', width: '180px', left:($index*180)+60+'px'}"
  ng-repeat="hour in vm.hourGrid track by $index">
  <div ng-repeat="segment in hour.segments track by $index">
    <strong ng-bind="segment.date | calendarDate:'hour':true" ng-if="segment.isStart"></strong>
  </div>
</div>

<div class="cal-day-panel-hour" ng-style="{width : vm.columnsCount > 0 ? (vm.columnsCount*300)+60+'px' : '100%'}">
  <div class="cal-day-hour">
    <div class="cal-day-hour-part" style="height:60px" ng-repeat="vm in vm.columns">
      <div class="cal-day-hour-part-time">
        <strong>{{vm}}</strong>
      </div>
    </div>
  </div>
</div>